<h1>List of posts</h1>
<hr>
<ul>
	<% @posts.each do |post| %>
		
		<li>

			 <%= link_to "#{post.title}", post_path(id: post.id) %>
			 
			<%= link_to "Edit", edit_post_path(id: post.id) %>

			<%= link_to "Destroy", post_path(id: post.id), method: :delete %>
		</li>

	<% end %>
	
</ul>
<%= link_to "New Post", new_post_path %>